@use "_reset.scss";
@import "_variables";
@import "_mixins";
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Rancho&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin-top: 60px;
  //  font-family: "Caveat Brush", cursive;
  font-family: "Rancho", cursive;
  letter-spacing: 1px;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f2;
  text-transform: uppercase;
  padding: 10px 20px;
  * {
    cursor: pointer;
  }

  .header_title {
    font-size: 60px;
  }
  ul {
    display: flex;

    li {
      font-size: 28px;
      display: flex;
      align-items: center;
      &:first-child {
        span {
          background-color: dfcdaa;
        }
      }
      &:nth-child(2) {
        span {
          background-color: #b96f47;
        }
      }
      &:nth-child(3) {
        span {
          background-color: #cca7ed;
        }
      }
      &:nth-child(4) {
        span {
          background-color: #fc7b41;
        }
      }
      &:nth-child(5) {
        span {
          background-color: #6c95cf;
        }
      }
      &:nth-child(6) {
        span {
          background-color: #d4a335;
        }
      }
      &:nth-child(7) {
        span {
          background-color: #aca86a;
        }
      }
      &:nth-child(8) {
        span {
          background-color: #b4d5a3;
        }
      }
      span {
        height: 17px;
        width: 17px;
        border-radius: 50%;
        margin-right: 5px;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  .header_last {
    span {
      font-size: 28px;
      margin-right: 15px;
    }
  }
}
main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 27vw;
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px;
    cursor: pointer;
    .appetizer {
      text-align: center;
      opacity: 0.6;
    }
    .dish {
      font-size: 55px;
      text-align: center;
      position: relative;
      .bg_t {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 2;
        opacity: 0.9;
        h6 {
          font-size: 17px;
          opacity: 0.8;
        }
      }
      img {
        width: 80%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }
    }
    .dessert {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      opacity: 0.6;
    }
    &:first-child {
      background-color: #d29d28;
      &:hover {
        * {
          opacity: 0;
        }
        //        background-color: cadetblue;
        background-image: url(/img/1.jpg);
        background-size: cover;
      }
    }
    &:nth-child(2) {
      background-color: #dfcdaa;
      .bg_t {
        position: absolute;
        left: 55;
        top: -30;
        color: #23292c;
      }
      img {
      }
    }
    &:nth-child(3) {
    }
    &:nth-child(4) {
    }
    &:nth-child(5) {
    }
    &:nth-child(6) {
    }
  }
}
